
  header {
    background-color: #f8f9fa;
    padding: 10px 0;
  }
  
  .navbar-brand {
    font-weight: bold;
  }
  
  
  
  #footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
    bottom: 0;
    width: 100%;
  }

      
  
  
  
  
  
  